.btn-doctor{
    background-color: rgb(255, 0, 85);
    color: white;
    outline: none;
    border: none;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.6) 2px 4px 8px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 15px;
    transition: 0.3s;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 30px;
}
.btn-doctor:hover{
    background-color: rgb(0, 132, 255);
    color: white;
    transform: translate(0, -5px);
}
.doctor-card{
    position: relative;
    height: 500px
}
@media only screen and (max-width:768px){
    .btn-doctor{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}